@use "variables.scss" as *;

$arrow-size: 4rem;

.carousel_body {
  // width: 50%;
  // height: 50%;
  display: flex;
  align-items: center;
  // justify-content: center;
  position: relative;
  aspect-ratio: 16 / 9;
}
.arrow_left {
  left: 2rem;
  width: $arrow-size;
  justify-self: flex-start;
  margin-right: auto;
  transform: scale(1);
}

.arrow_right {
  right: 2rem;
  width: $arrow-size;
  justify-self: flex-end;
  transform: scale(1);
}

.arrow_left,
.arrow_right,
.dot {
  mix-blend-mode: difference;
  background-color: white; // for dots
  filter: none; // remove invert filter
}

.arrow_left,
.arrow_right {
  z-index: 999;
  filter: invert(100%) drop-shadow(1px 1px 0px rgba(0, 0, 0, 0.7));
  opacity: 50%;
  transform-origin: center center;
  transition: all 300ms ease;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) scale(1);
  cursor: pointer;
  &:hover {
    transform: translateY(-50%) scale(1.1);
    opacity: 90%;
  }
}

.image_container {
  display: flex;
  transition: transform 0.5s ease;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 101;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    flex-shrink: 0;
  }
}

.dots_container {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 1rem;
  z-index: 102;
}

.dot {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease;
  cursor: pointer;

  &.active {
    background-color: white;
    transform: scale(1.2);
  }
}
