@use "variables.scss" as *;

$padding: 2rem;

body {
  background-color: $c1_3;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: start;
}

.container {
  width: 50vw;
  height: 100vh;
  display: grid;
  gap: $padding;
}

.header {
  background-color: $c5;
  padding: $padding;
  align-self: start;
  &_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}

.aboutMe {
  align-self: start;
  display: flex;
  justify-content: center;
  align-items: center;

  &_container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $c1_2;
    img {
      width: 30rem;
      object-fit: contain;
    }
  }
  &_textContainer {
    background-color: $c3;
    align-self: end;
    margin-bottom: 5rem;
    padding: $padding;
  }
}

.content_container {
  background-color: red;
  padding: $padding;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: $padding;
}

.content {
  background-color: aqua;
  display: flex;
  flex-direction: column;
  padding: $padding;
  img {
    height: 50%;
  }
  h3 {
    font-size: 3rem;
  }
}

.footer {
  // height: 10rem;
  padding: $padding;
  align-self: end;
  background-color: $c4;
}
