@use "variables.scss" as *;

$padding: 2rem;

body {
  background-color: $c1_3;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: start;
}

.container {
  width: 50vw;
  height: 100vh;
  display: grid;
  gap: $padding;
}

.header {
  background-color: $c5;
  padding: $padding;
  align-self: start;
  &_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    a {
      cursor: pointer;
    }
  }
}

.aboutMe {
  align-self: start;
  display: flex;
  justify-content: center;
  align-items: center;

  &_container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $c1_2;
    img {
      width: 30rem;
      object-fit: contain;
    }
  }
  &_textContainer {
    background-color: $c3;
    align-self: end;
    margin-bottom: 5rem;
    padding: $padding;
  }
}

.content_container {
  background-color: red;
  padding: $padding;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: $padding;
}

.content {
  background-color: aqua;
  padding: $padding;
  display: grid;
  justify-items: start;
  // grid-template-rows: auto auto 1fr auto;
  place-content: start;
  img {
    object-fit: contain;
    background-color: greenyellow;
    margin-bottom: 1rem;
  }
  h3 {
    font-size: 3rem;
  }
  .link_container {
    background-color: orangered;
    margin-top: 1rem;
    justify-self: center;
    align-self: end;
    display: flex;
    gap: 1rem;
    a {
      cursor: pointer;
    }
  }
}

.footer {
  // height: 10rem;
  padding: $padding;
  align-self: end;
  background-color: $c4;
}

.fullscreen {
  z-index: 100;
  position: fixed;
  inset: 0;
  // width: 100vw;
  // height: 100vh;
  display: grid;
  place-content: center;
  justify-items: center;
  background-color: $alpha_bg;
  color: $c1;
  img {
    width: 20rem;
  }
}
