@use "variables.scss" as *;

$padding: clamp(1rem, 2rem, 2vw);

body {
  background-color: $wit;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: start;
}

.container {
  width: clamp(200px, 90vw, 1200px);
  height: 100vh;
  display: grid;
  gap: $padding;
}

.header {
  background-color: $kleur-secondair;
  padding: $padding;
  align-self: start;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  &_menu {
    grid-column: 2/3;
    display: flex;
    gap: 2rem;
    a {
      cursor: pointer;
      text-align: center;
    }
    @media (max-width: 800px) {
      grid-column: 1/-1;
      flex-direction: column;
      gap: 0.1rem;
      a {
        width: 100%;
      }
    }
  }
  &_logo {
    grid-column: 1/2;
    grid-row: 1;
    width: 15%;
    @media (max-width: 800px) {
      width: 30%;
      justify-self: center;
      grid-column: 1/-1;
    }
  }
}

.aboutMe {
  align-self: start;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $wit_1;
  &_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    justify-content: center;
    align-items: center;
    img {
      width: 30rem;
      object-fit: contain;
      justify-self: end;
    }
  }
  &_textContainer {
    background-color: $kleur-primair;
    align-self: end;
    padding: $padding;
  }
}

.content_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: $padding;
  justify-content: center;
  @media (max-width: 900px) {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }
}

.content {
  background-color: $kleur-secondair;
  padding: $padding;
  display: grid;

  justify-items: center;
  align-content: start;
  // place-content: start;
  position: relative;
  @media (max-width: 750px) {
    place-content: center;
  }
  &_img {
    max-width: 20rem;
    object-fit: contain;
    margin-bottom: 1rem;
  }
  h3 {
    font-size: 3rem;
    line-height: 3rem;
    text-align: center;
    margin: 0.5rem 0;
  }
  .content_text {
    white-space: pre-line;
  }
  iframe {
    width: 100%;
  }
  .link_container {
    margin-top: 1rem;
    display: flex;
    justify-self: center;
    align-items: center;
    gap: 1rem;
    font-style: italic;
    text-align: center;
    line-height: 2rem;

    a {
      font-size: 1.6rem;
      line-height: 1.2;
      cursor: pointer;
      color: blue;
      border-bottom: 1px solid blue;
    }
  }
  &.fullscreen {
    .content_text {
      display: none;
    }
    .link_container {
      display: none;
    }
  }
}

//Losse iframe aandacht voor element dat steeds blijft inklappen
.canvaOpdracht {
  iframe {
    position: relative;
    display: inline-flex;
    width: 100%;
    aspect-ratio: 6/5; //Deze is specifiek voor het onderwerp
    flex-direction: column;
  }
}

.footer {
  // height: 10rem;
  padding: $padding;
  align-self: end;
  background-color: $wit_3;
}

.fullscreen {
  z-index: 100;
  position: fixed;
  inset: 0;
  width: 100vw;
  max-height: 100vh;
  display: grid;
  place-content: center;
  justify-items: center;
  align-items: center;
  background-color: $alpha_bg;
  color: $c1;
  overflow-y: auto;
  img {
    width: 10rem;
  }
  .extra_content {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    gap: 1rem;
    text-align: center;
    p {
      max-width: clamp(60%, 800px, 60vw);
    }
    .keyword_list {
      display: flex;
      gap: 1rem;
      font-size: 1.4rem;
      font-weight: 700;
      font-style: italic;
    }
    .carousel_container {
      width: clamp(60vh, 90vw, 30vw);
      justify-self: center;
    }
  }
}
