@use "variables.scss" as *;

$padding: clamp(1rem, 2rem, 2vw);

body {
  background-color: $wit;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: start;
  // flex-direction: column;
}

.container {
  width: clamp(200px, 90vw, 1200px);
  height: 100vh;
  display: grid;
  gap: $padding;
}

.header {
  background-color: $kleur-secondair;
  padding: $padding;
  align-self: start;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  &_menu {
    grid-column: 2/3;
    display: flex;
    gap: 2rem;
    a {
      cursor: pointer;
      text-align: center;
      font-weight: 300;
      transform: scale(1);
      transition: all 300ms ease-out;
      &:hover {
        transform: scale(1.1);
      }
    }
    @media (max-width: 800px) {
      grid-column: 1/-1;
      flex-direction: column;
      gap: 0.1rem;
      a {
        width: 100%;
      }
    }
  }
  &_logo {
    grid-column: 1/2;
    grid-row: 1;
    width: 15%;
    @media (max-width: 800px) {
      width: 30%;
      justify-self: center;
      grid-column: 1/-1;
    }
  }
}

.aboutMe {
  align-self: start;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $wit_1;
  &_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    justify-content: center;
    align-items: center;
    img {
      width: 30rem;
      object-fit: contain;
      justify-self: end;
    }
  }
  &_textContainer {
    background-color: $kleur-primair;
    align-self: end;
    padding: $padding;
    display: flex;
    flex-direction: column;
  }
  &_contactBtn {
    cursor: pointer;
    margin-top: $padding;
    margin-right: auto;
    padding: $padding;
    background-color: $kleur-secondair;
    border-radius: 0.1em;
    font-weight: 800;
  }
}

.content_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  // grid-auto-rows: max-content;
  gap: $padding;
  justify-content: center;
  @media (max-width: 900px) {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }
}

.content {
  background-color: $kleur-secondair;
  padding: $padding;
  display: grid;

  justify-items: center;
  align-content: start;
  // place-content: start;
  position: relative;
  overflow: hidden;
  @media (max-width: 750px) {
    align-content: center;
  }
  &_img {
    max-width: 20rem;
    object-fit: contain;
  }
  &_title {
    font-size: 3rem;
    line-height: 3rem;
    text-align: center;
    margin: 2rem auto 0.5rem auto;
  }
  .content_text {
    white-space: pre-line;
  }
  iframe {
    max-width: 100%;
  }
  .link_container {
    justify-self: center;
    width: 100%;
    // margin-top: 1rem auto;
    display: grid;
    grid-template-columns: auto-fill, minmax(200px, 1fr);
    // justify-content: start;
    // align-content: start;
    gap: 1rem;
    font-style: italic;
    text-align: center;
    line-height: 2vw;
    white-space: nowrap;
    // overflow: hidden;
    a {
      background-color: $kleur-primair;
      padding: $padding;
      margin-top: 1rem;
      color: $zwart;
      font-weight: 800;
      // font-size: clamp(1rem, 2rem, 2vw);
    }
  }
  &.fullscreen {
    .content_text,
    .content_img,
    .content_video,
    .content_youtube {
      display: none;
    }
  }
}

//Losse iframe aandacht voor element dat steeds blijft inklappen
.canvaOpdracht {
  iframe {
    position: relative;
    display: inline-flex;
    width: 100%;
    aspect-ratio: 6/5; //Deze is specifiek voor het onderwerp
    // flex-direction: column;
  }
}

.fullscreen {
  z-index: 100;
  position: fixed;
  inset: 0;
  width: 100vw;
  max-height: 100vh;
  display: grid;
  place-content: center;
  background-color: $alpha_bg;
  color: $c1;
  overflow-y: auto;
  img,
  video {
    width: clamp(50vw, 10rem, 10vw);
    background-size: contain;
  }
  .link_container {
    margin: 2rem 0 2rem 0;
  }
  .extra_content {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    gap: 1rem;
    text-align: center;
    p {
      max-width: clamp(60%, 800px, 60vw);
    }
    .keyword_list {
      display: flex;
      gap: 1rem;
      font-size: 1.4rem;
      font-weight: 700;
      font-style: italic;
      margin-top: 1rem;
    }
    .carousel_container {
      width: clamp(60vh, 90vw, 30vw);
      justify-self: center;
    }
  }
}

.footer {
  // height: 10rem;
  padding: $padding;
  align-self: end;
  background-color: $wit_3;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-align: center;

  &_menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: $padding;
    cursor: pointer;
    font-size: $padding;
    font-weight: 800;
    margin-bottom: $padding;
    transition: all 300ms ease-in-out;
    a {
      transform: scale(1);
      transition: all 300ms ease-out;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

/*---Algemene voorwaarden---*/

.algemeneVoorwaarden {
  flex-direction: column;

  .header_av {
    background-color: $kleur-secondair-licht;
    padding: $padding;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    .header_logo {
      margin: 0 auto;
      cursor: pointer;
    }
  }

  .footer {
    width: 100%;
    margin: 0 auto;
  }

  &_text {
    padding: 5rem 10rem;
    margin: 0 auto;
    max-width: 100rem;
    div {
      margin: 2rem auto;
      p {
        margin-bottom: 1rem;
        span {
          margin-left: 1rem;
          margin-bottom: 1rem;
          display: block;
        }
      }
    }
  }
}

.backToTop {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background-color: $kleur-secondair;
  padding: 2rem;
  border-radius: 100rem;
  color: #fff;
  text-decoration: none;
}
