@use "variables.scss" as *;

$padding: 2rem;

body {
  background-color: $c1_3;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: start;
}

.container {
  width: clamp(40vw, 1200px, 80vw);
  height: 100vh;
  display: grid;
  gap: $padding;
}

.header {
  background-color: $c5;
  padding: $padding;
  align-self: start;
  &_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    a {
      cursor: pointer;
    }
  }
}

.aboutMe {
  align-self: start;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $c1_2;
  &_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    justify-content: center;
    align-items: center;
    img {
      width: 30rem;
      object-fit: contain;
      justify-self: end;
    }
  }
  &_textContainer {
    background-color: $c3;
    align-self: end;
    padding: $padding;
  }
}

.content_container {
  padding: $padding;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: $padding;
  @media (max-width: 900px) {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }
}

.content {
  background-color: aqua;
  padding: $padding;
  display: grid;
  justify-items: start;
  // grid-template-rows: auto auto 1fr auto;
  place-content: start;
  img {
    object-fit: contain;
    margin-bottom: 1rem;
  }
  h3 {
    font-size: 3rem;
  }
  .link_container {
    background-color: orangered;
    margin-top: 1rem;
    justify-self: center;
    align-self: end;
    display: flex;
    gap: 1rem;
    a {
      cursor: pointer;
    }
  }
  &.fullscreen {
    .content_text {
      display: none;
    }
    .link_container {
      display: none;
    }
  }
}

.footer {
  // height: 10rem;
  padding: $padding;
  align-self: end;
  background-color: $c4;
}

.fullscreen {
  z-index: 100;
  position: fixed;
  inset: 0;
  width: 100vw;
  max-height: 100vh;
  display: grid;
  place-content: center;
  justify-items: center;
  align-items: center;
  background-color: $alpha_bg;
  color: $c1;
  overflow-y: auto;
  img {
    width: 10rem;
  }
  .extra_content {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    gap: 1rem;
    .keyword_list {
      display: flex;
      gap: 1rem;
      font-size: 1.4rem;
      font-weight: 700;
    }
    .carousel_container {
      width: clamp(60vh, 90vw, 30vw);
      justify-self: center;
    }
  }
}
