$c1: rgba(241, 242, 239, 1);
$c1_1: rgba(220, 220, 220, 1);
$c1_2: rgba(200, 200, 200, 1);
$c1_3: rgba(150, 150, 150, 1);
$c2: rgba(1, 34, 38, 1);
$c3: rgba(3, 63, 63, 1);
$c4: rgba(2, 89, 80, 1);
$c5: rgba(2, 114, 94, 1);
$c6: rgba(191, 191, 191, 1);

$alpha_bg: rgba(0, 0, 0, 0.9);
$gradient-bg: linear-gradient(
  to bottom,
  rgba(0, 0, 0, 0.9),
  rgba(0, 0, 0, 0.6)
);

$kleur-primair: #ee3124;
$kleur-primair-licht: #fc4e41;
$kleur-primair-donker: #dc271a;

$kleur-secondair: #96bf3d;
$kleur-secondair-licht: #aed659;
$kleur-secondair-donker: #7a9e2e;

$zwart: #000;
$zwart-alpha: rgba(0, 0, 0, 0.3);

$wit: #fff;
$wit_1: rgba(220, 220, 220, 1);
$wit_2: rgba(200, 200, 200, 1);
$wit_3: rgba(150, 150, 150, 1);

$schaduw-groen: 1rem 1rem 0rem var(--kleur-secondair);
