@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap");
* {
  margin: 0;
  padding: 0;
}
*, *::before, *::after {
  box-sizing: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Arimo", sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

button,
li,
a {
  all: unset;
}

body {
  background-color: #fff;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: start;
  min-width: 0;
}

.container {
  width: clamp(200px, 90vw, 1200px);
  height: 100vh;
  display: grid;
  gap: clamp(1rem, 2vw, 2rem);
}

.header {
  background-color: #96bf3d;
  padding: clamp(1rem, 2vw, 2rem);
  align-self: start;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.header_menu {
  grid-column: 2/3;
  display: flex;
  gap: 2rem;
}
.header_menu a {
  cursor: pointer;
  text-align: center;
  font-weight: 300;
  transform: scale(1);
  transition: all 300ms ease-out;
}
.header_menu a:hover {
  transform: scale(1.1);
}
@media (max-width: 800px) {
  .header_menu {
    grid-column: 1/-1;
    flex-direction: column;
    gap: 0.1rem;
  }
  .header_menu a {
    width: 100%;
  }
}
.header_logo {
  grid-column: 1/2;
  grid-row: 1;
  width: 15%;
}
@media (max-width: 800px) {
  .header_logo {
    width: 30%;
    justify-self: center;
    grid-column: 1/-1;
  }
}

.aboutMe {
  align-self: start;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(220, 220, 220);
}
.aboutMe_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  justify-content: center;
  align-items: center;
}
.aboutMe_container img {
  width: 100%;
  max-width: 30rem;
  -o-object-fit: contain;
     object-fit: contain;
  justify-self: end;
}
.aboutMe_textContainer {
  background-color: #ee3124;
  align-self: end;
  padding: clamp(1rem, 2vw, 2rem);
  display: flex;
  flex-direction: column;
}
.aboutMe_contactBtn {
  cursor: pointer;
  margin-top: clamp(1rem, 2vw, 2rem);
  margin-right: auto;
  padding: clamp(1rem, 2vw, 2rem);
  background-color: #96bf3d;
  border-radius: 0.1em;
  font-weight: 800;
}

.content_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: clamp(1rem, 2vw, 2rem);
  justify-content: center;
}
@media (max-width: 900px) {
  .content_container {
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 280px), 1fr));
  }
}

.content {
  background-color: #96bf3d;
  padding: clamp(1rem, 2vw, 2rem);
  display: grid;
  justify-items: center;
  align-content: start;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
@media (max-width: 750px) {
  .content {
    align-content: center;
  }
}
.content_img {
  max-width: 20rem;
  -o-object-fit: contain;
     object-fit: contain;
}
.content_title {
  font-size: 3rem;
  line-height: 3rem;
  text-align: center;
  margin: 2rem auto 0.5rem auto;
}
.content .content_text {
  white-space: pre-line;
}
.content iframe {
  max-width: 100%;
}
.content .link_container {
  justify-self: center;
  width: 100%;
  display: grid;
  grid-template-columns: auto-fill, minmax(200px, 1fr);
  gap: 1rem;
  font-style: italic;
  text-align: center;
  line-height: 2vw;
  white-space: nowrap;
}
.content .link_container a {
  background-color: #ee3124;
  padding: clamp(1rem, 2vw, 2rem);
  margin-top: 1rem;
  color: #000;
  font-weight: 800;
}
.content.fullscreen .content_text,
.content.fullscreen .content_img,
.content.fullscreen .content_video,
.content.fullscreen .content_youtube {
  display: none;
}

.canvaOpdracht iframe {
  position: relative;
  display: inline-flex;
  width: 100%;
  aspect-ratio: 6/5;
}

.fullscreen {
  z-index: 100;
  position: fixed;
  inset: 0;
  width: 100vw;
  max-height: 100vh;
  display: grid;
  place-content: center;
  background-color: rgba(0, 0, 0, 0.9);
  color: rgb(241, 242, 239);
  overflow-y: auto;
}
.fullscreen img,
.fullscreen video {
  margin: 0 auto;
  width: clamp(5rem, 20vw, 50vw);
  background-size: contain;
}
.fullscreen .link_container {
  margin: 2rem 0 2rem 0;
}
.fullscreen .image_container {
  width: 100%;
}
.fullscreen .extra_content {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  gap: 1rem;
  text-align: center;
}
.fullscreen .extra_content p {
  max-width: clamp(300px, 60vw, 800px);
}
.fullscreen .extra_content .keyword_list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-width: 0;
  gap: 1rem;
  font-size: 1.4rem;
  font-weight: 700;
  font-style: italic;
  margin-top: 1rem;
}
.fullscreen .extra_content .carousel_container {
  width: clamp(100px, 90vw, 600px);
  justify-self: center;
}

.footer {
  padding: clamp(1rem, 2vw, 2rem);
  align-self: end;
  background-color: rgb(150, 150, 150);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-align: center;
}
.footer_menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: clamp(1rem, 2vw, 2rem);
  cursor: pointer;
  font-size: clamp(1rem, 2vw, 2rem);
  font-weight: 800;
  margin-bottom: clamp(1rem, 2vw, 2rem);
  transition: all 300ms ease-in-out;
}
.footer_menu a {
  transform: scale(1);
  transition: all 300ms ease-out;
}
.footer_menu a:hover {
  transform: scale(1.1);
}

/*---Algemene voorwaarden---*/
.algemeneVoorwaarden {
  flex-direction: column;
}
.algemeneVoorwaarden .header_av {
  background-color: #aed659;
  padding: clamp(1rem, 2vw, 2rem);
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.algemeneVoorwaarden .header_av .header_logo {
  margin: 0 auto;
  cursor: pointer;
}
.algemeneVoorwaarden .footer {
  width: 100%;
  margin: 0 auto;
}
.algemeneVoorwaarden_text {
  padding: 5rem 10rem;
  margin: 0 auto;
  max-width: 100rem;
}
.algemeneVoorwaarden_text div {
  margin: 2rem auto;
}
.algemeneVoorwaarden_text div p {
  margin-bottom: 1rem;
}
.algemeneVoorwaarden_text div p span {
  margin-left: 1rem;
  margin-bottom: 1rem;
  display: block;
}

.backToTop {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background-color: #96bf3d;
  padding: 2rem;
  border-radius: 100rem;
  color: #fff;
  text-decoration: none;
}

.carousel_body {
  display: flex;
  align-items: center;
  position: relative;
  aspect-ratio: 16/9;
}

.arrow_left {
  left: 2rem;
  width: clamp(1rem, 5vw, 4rem);
  justify-self: flex-start;
  margin-right: auto;
  transform: scale(1);
}

.arrow_right {
  right: 2rem;
  width: clamp(1rem, 5vw, 4rem);
  justify-self: flex-end;
  transform: scale(1);
}

.arrow_left,
.arrow_right,
.dot {
  mix-blend-mode: difference;
  background-color: white;
  filter: none;
}

.arrow_left,
.arrow_right {
  z-index: 999;
  filter: invert(100%) drop-shadow(1px 1px 0px rgba(0, 0, 0, 0.7));
  opacity: 50%;
  transform-origin: center center;
  transition: all 300ms ease;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) scale(1);
  cursor: pointer;
}
.arrow_left:hover,
.arrow_right:hover {
  transform: translateY(-50%) scale(1.1);
  opacity: 90%;
}

.image_container {
  display: flex;
  transition: transform 0.5s ease;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 101;
}
.image_container img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  flex-shrink: 0;
}

.dots_container {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 1rem;
  z-index: 102;
}

.dot {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease;
  cursor: pointer;
}
.dot.active {
  background-color: white;
  transform: scale(1.2);
}