@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap");
* {
  margin: 0;
  padding: 0;
}
*, *::before, *::after {
  box-sizing: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Arimo", sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

button,
li,
a {
  all: unset;
}

body {
  background-color: rgb(150, 150, 150);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: start;
}

.container {
  width: clamp(300px, 1200px, 80vw);
  height: 100vh;
  display: grid;
  gap: 2rem;
}

.header {
  background-color: rgb(2, 114, 94);
  padding: 2rem;
  align-self: start;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.header_menu {
  grid-column: 2/3;
  display: flex;
  gap: 2rem;
}
.header_menu a {
  cursor: pointer;
  text-align: center;
}
@media (max-width: 800px) {
  .header_menu {
    grid-column: 1/-1;
    flex-direction: column;
    gap: 0.1rem;
  }
  .header_menu a {
    width: 100%;
  }
}
.header_logo {
  grid-column: 1/2;
  grid-row: 1;
  width: 15%;
}
@media (max-width: 800px) {
  .header_logo {
    width: 30%;
    justify-self: center;
    grid-column: 1/-1;
  }
}

.aboutMe {
  align-self: start;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(200, 200, 200);
}
.aboutMe_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  justify-content: center;
  align-items: center;
}
.aboutMe_container img {
  width: 30rem;
  -o-object-fit: contain;
     object-fit: contain;
  justify-self: end;
}
.aboutMe_textContainer {
  background-color: rgb(3, 63, 63);
  align-self: end;
  padding: 2rem;
}

.content_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
@media (max-width: 900px) {
  .content_container {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }
}

.content {
  background-color: rgb(241, 242, 239);
  padding: 2rem;
  display: grid;
  justify-items: center;
  place-content: start;
  max-height: 500px;
}
@media (max-width: 750px) {
  .content {
    place-content: center;
  }
}
.content_img {
  max-width: 20rem;
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 1rem;
}
.content h3 {
  font-size: 3rem;
  line-height: 3rem;
  text-align: center;
  margin-bottom: 0.5rem;
}
.content .content_text {
  white-space: pre-line;
}
.content .link_container {
  margin-top: 1rem;
  display: flex;
  justify-self: center;
  align-items: center;
  gap: 1rem;
  font-style: italic;
  text-align: center;
  line-height: 2rem;
}
.content .link_container a {
  font-size: 1.2rem;
  line-height: 1.2;
  cursor: pointer;
  color: blue;
  border-bottom: 1px solid blue;
}
.content.fullscreen .content_text {
  display: none;
}
.content.fullscreen .link_container {
  display: none;
}

.footer {
  padding: 2rem;
  align-self: end;
  background-color: rgb(2, 89, 80);
}

.fullscreen {
  z-index: 100;
  position: fixed;
  inset: 0;
  width: 100vw;
  max-height: 100vh;
  display: grid;
  place-content: center;
  justify-items: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  color: rgb(241, 242, 239);
  overflow-y: auto;
}
.fullscreen img {
  width: 10rem;
}
.fullscreen .extra_content {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  gap: 1rem;
  text-align: center;
}
.fullscreen .extra_content .keyword_list {
  display: flex;
  gap: 1rem;
  font-size: 1.4rem;
  font-weight: 700;
  font-style: italic;
}
.fullscreen .extra_content .carousel_container {
  width: clamp(60vh, 90vw, 30vw);
  justify-self: center;
}

.carousel_body {
  display: flex;
  align-items: center;
  position: relative;
  aspect-ratio: 16/9;
}

.arrow_left {
  left: 2rem;
  width: 4rem;
  justify-self: flex-start;
  margin-right: auto;
  transform: scale(1);
}

.arrow_right {
  right: 2rem;
  width: 4rem;
  justify-self: flex-end;
  transform: scale(1);
}

.arrow_left,
.arrow_right,
.dot {
  mix-blend-mode: difference;
  background-color: white;
  filter: none;
}

.arrow_left,
.arrow_right {
  z-index: 999;
  filter: invert(100%) drop-shadow(1px 1px 0px rgba(0, 0, 0, 0.7));
  opacity: 50%;
  transform-origin: center center;
  transition: all 300ms ease;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) scale(1);
  cursor: pointer;
}
.arrow_left:hover,
.arrow_right:hover {
  transform: translateY(-50%) scale(1.1);
  opacity: 90%;
}

.image_container {
  display: flex;
  transition: transform 0.5s ease;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 101;
}
.image_container img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  flex-shrink: 0;
}

.dots_container {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 1rem;
  z-index: 102;
}

.dot {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease;
  cursor: pointer;
}
.dot.active {
  background-color: white;
  transform: scale(1.2);
}