@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap");
* {
  margin: 0;
  padding: 0;
}
*, *::before, *::after {
  box-sizing: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Arimo", sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

button,
li,
a {
  all: unset;
}

body {
  background-color: rgb(150, 150, 150);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: start;
}

.container {
  width: 50vw;
  height: 100vh;
  display: grid;
}

.header {
  background-color: rgb(2, 114, 94);
  padding: 2rem;
  align-self: start;
}
.header_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.aboutMe {
  align-self: start;
  display: flex;
  justify-content: center;
  align-items: center;
}
.aboutMe_container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(200, 200, 200);
}
.aboutMe_container img {
  width: 30rem;
  -o-object-fit: contain;
     object-fit: contain;
}
.aboutMe_textContainer {
  background-color: rgb(3, 63, 63);
  align-self: end;
  margin-bottom: 5rem;
  padding: 2rem;
}

.footer {
  padding: 2rem;
  align-self: end;
  background-color: rgb(2, 89, 80);
}